[2018-02-27 23:52] vargovargo commented on #1
this is the error
[code]

[2018-03-02 03:22] mcSamuelDataSci commented on #1
Thanks for this reminder. The error was caused by using an older version of the "real" working data set, where "GEOID" was labeled as "geoid".  This error does not effect the repository on GitHub since in only has "fake" data, but was good to fix in any case.

[2018-03-02 03:23] mcSamuelDataSci commented on #2
this is a medium term issue, around which I will schedule a meeting.  Thanks for the reminder.

[2018-07-10 16:31] zross opened #1 "try out referencing"

[2018-07-11 04:30] mcSamuelDataSci opened #2 "Save User ID and Password"
Zev-
I think you were going to send me info about how so save username and password such that R doesn't "ask" each time?  related info in the screen shot:
![capture](https://user-images.githubusercontent.com/19944056/42550730-518dd6ee-8488-11e8-8909-7fa9f4460061.JPG)

[2018-07-11 19:24] mcSamuelDataSci opened #3 "(NOT) fatal error"
I get this message below each time I do a push, BUT the push does work. I googled a bit, and there is so much info on this error message that I could not sort it out.  likely eaisiest to look at it when we next meet?

fatal: HttpRequestException encountered.
   An error occurred while sending the request.
To https://github.com/mcSamuelDataSci/CACommunityBurden.git
   e219689..80060c8  master -> ma

[2018-07-27 12:50] zross opened #6 "Repo needs readme"
This is for your practice, I'm adding this issue, I'm creating a branch and adding this file, I'm assigning this issue to me here in GitHub and then I will do a pull request.

In my commit message I write "added readme referencing #6" so it shows up below.

[2018-07-27 22:38] benjamin-hicks-cdph-ca-gov opened #8 "Issue for testing"

[2018-07-27 23:14] mcSamuelDataSci commented on #8
great progress!

[2018-07-27 23:15] benjamin-hicks-cdph-ca-gov commented on #8
fantastic!!

[2018-07-27 23:15] #8 closed, assigned to nobody

[2018-07-28 22:11] mcSamuelDataSci opened #10 "Clean installPackages file"

[2018-07-28 22:13] mcSamuelDataSci opened #11 "A door installation and run packages too instructions"

[2018-07-28 22:13] #11 closed, assigned to nobody

[2018-07-28 22:14] mcSamuelDataSci opened #12 "Add install R, R studio, and packages to wiki"

[2018-07-29 04:57] #12 closed, assigned to nobody

[2018-07-29 04:58] #2 closed, assigned to nobody

[2018-07-29 05:03] mcSamuelDataSci commented on #6
Thanks for this Zev.

[2018-07-29 05:03] #6 closed, assigned to zross

[2018-07-29 05:04] #3 closed, assigned to nobody

[2018-07-29 05:07] mcSamuelDataSci opened #13 "Added RStudio Wiki instructions"
I just poked around, and made a "wiki" entry to use as instructions for our team to get set up for using git with RStudio.  Please review and comment if you have time/interest. Thanks.

[2018-07-29 05:30] #1 closed, assigned to nobody

[2018-07-30 15:33] benjamin-hicks-cdph-ca-gov commented on #13
The [https://github.com/mcSamuelDataSci/CACommunityBurden/wiki](url) looks good. The only suggestions I have:
-correct the small typo in the file URL: c:\Users\YOURUSERNA**SME**\AppData\Local\Programs\Git\bin
-provide an image or description on where the new project button is in R. Something to the effect of "(in the top right corner, below the close program icon)"
-provide a description for where

[2018-07-31 05:03] mcSamuelDataSci commented on #13
Thanks Ben. I'd like to talk to you about the 2nd suggestion.

[2018-07-31 05:03] #10 closed, assigned to mcSamuelDataSci

[2018-08-02 05:22] mcSamuelDataSci opened #16 "SES processor and plot"
-decide on beta SES inputs
-break makeSES into standard structure -- SESprocessor and plot files

[2018-08-02 21:11] mcSamuelDataSci opened #19 "Life Tables"

[2018-08-06 16:39] benjamin-hicks-cdph-ca-gov opened #21 "branching/forking wiki page"
Contributors can't add new wiki pages (only edit current pages), but I think the following wiki page (with your preferred edits) would be helpful regarding branching and forking:

In keeping with standard GITHUB practice, CCB has adopted two procedures to contribute to the projects modular code.

1. For contributors making changes to one file of the CCB, or contributors who plan to have limited ed

[2018-08-06 17:06] benjamin-hicks-cdph-ca-gov opened #22 "Version History"
Still looking into how to rollback on an individual file but from what I can tell it's not easy to do in GitHub or R alone. It is easy to do on GitHub desktop and some users have made a [strong case](https://www.youtube.com/watch?v=_qXXAWsxldg) for using it. I've asked Jason Vargo if he knows more and he said he can help me Wednesday 08/08/18, so I'll add my R testing in a later post.

Tested on G

[2018-08-07 19:29] mcSamuelDataSci commented on #19
Hi Ethan and Ben-
All the life table files run fine, and I generated data with the "real" data, including the dxMSSA-ccb.rds output file.  Just took a quick glance, and not surprisingly, looks like some of the estimates are unrealistic/"outliers", but lots of steps to address that I know.  Ethan depending on your preference, we can now create separate GitHub separate issues for separate issues we

[2018-08-08 22:35] #13 closed, assigned to zross, benjamin-hicks-cdph-ca-gov

[2018-08-08 22:54] mcSamuelDataSci commented on #21
I've created a new wiki page based on this. I have not yet reviewed it carefully, but will soon.

[2018-08-14 13:47] mcSamuelDataSci opened #23 "Add help system to CCB"
https://shiny.rstudio.com/reference/shiny/latest/modalDialog.html
https://shiny.rstudio.com/reference/shiny/latest/modalButton.html

https://deanattali.com/blog/shinyalert-package/
https://cran.r-project.org/web/packages/shinyalert/README.html
https://cran.r-project.org/web/packages/shinyalert/shinyalert.pdf

https://stackoverflow.com/questions/36670065/tooltip-in-shiny-ui-for-help-text

[2018-08-15 20:49] mcSamuelDataSci opened #24 "search files"
determine how to search files (including sub-directories) including R files for specific string

[2018-08-24 19:31] #16 closed, assigned to mcSamuelDataSci

[2018-08-24 19:38] mcSamuelDataSci opened #25 "tmap general"
Zev-
At your suggestion I have begun migrating the mapping for this project to tmap. In the app, there is currently a "tmap" tab, a "static map" tab, and an "interactive map" tab.  Within two weeks I plan to have only the "tmap" tab (and i will be called just "Map" or something), with all of the functionality that is all three tabs currently.  At your request, I will start listing issues that are

[2018-08-25 00:35] mcSamuelDataSci opened #26 "tmap tm_polygons style error"
If on the "Map (tmap)" tab the following are selected:
  geographic level: "Census Tract"
  Cut-point method: fisher
an error is generated because of missing values, noting that na.rm=TRUE is needed.

Where/how can I set na.rm=TRUE or otherwise systematically address this error? (and not with an is.na(map.1$myMeasure) <- 0 type solution since this creates problems elsewhere).

The key code is at l

[2018-08-27 20:52] mcSamuelDataSci opened #27 "indexing to extract names"
Zev-
Is there a more "elegant" or transparent (for other users of my code) way to do the code below, in one case using two vectors, in the other using two columns of a dataframe?

nameVector[valueVector == myValue]

dataFrame[dataFrame[,1]== myValue,2]

[2018-08-27 23:17] mcSamuelDataSci opened #29 "test issue"
testing with Ben

[2018-08-28 04:29] #24 closed, assigned to dauphine33

[2018-08-28 15:07] mcSamuelDataSci commented on #29
now "assigning" to Ben

[2018-08-28 15:12] mcSamuelDataSci commented on #29
now assigning to Michael too

[2018-08-28 15:41] benjamin-hicks-cdph-ca-gov commented on #29
Ben's comment.

[2018-08-28 15:46] mcSamuelDataSci opened #30 "one more test"
to test or not to test, that is the question

[2018-08-28 15:49] benjamin-hicks-cdph-ca-gov commented on #30
Ben's comment on issue #30

[2018-08-28 15:53] mcSamuelDataSci commented on #30
okay. Please make one last reply to this. Even though I created the issues, i did not get a notice since I had not assigned myself to the issue.

[2018-08-28 15:53] #29 closed, assigned to mcSamuelDataSci, benjamin-hicks-cdph-ca-gov

[2018-08-28 15:59] benjamin-hicks-cdph-ca-gov commented on #30
Ben's comment on issue #30 second attempt.

[2018-08-28 15:59] benjamin-hicks-cdph-ca-gov commented on #30
Not a problem. Comment made.

________________________________
From: Michael Samuel <notifications@github.com>
Sent: Tuesday, August 28, 2018 8:57 AM
To: mcSamuelDataSci/CACommunityBurden
Cc: Hicks, Benjamin@CDPH; Assign
Subject: Re: [mcSamuelDataSci/CACommunityBurden] one more test (#30)

okay. Please make one last reply to this. Even though I created the issues, i did not get a notice since I ha

[2018-08-28 16:00] #30 closed, assigned to mcSamuelDataSci, benjamin-hicks-cdph-ca-gov

[2018-08-28 17:05] zross commented on #26
There are two tabs that say "Map (TMAP)" I assume you mean the "MAP (TMAP LEAF)" version?

Is the error you're seeing preventing the map from being drawn (is the error on the UI? or in RStudio?). I'm not seeing this error.

Is this on the master branch? lines 72-75 are commented out.

![image](https://user-images.githubusercontent.com/1395177/44738433-dfce0b80-aac2-11e8-8f6a-da8b800f128e.png)

[2018-08-28 17:12] zross commented on #27
This doesn't give me much context but:

For your vector one I don't think there is a better way, though if you can make them data frames or tibbles I think this is clearer -- a table with both vectors as variables. But it depends.

On the data.frame, first off indexing by variable number is not good practice you should use the name of the variable in place of the `1` and `2`. I would probably writ

[2018-08-28 17:23] zross commented on #25
OK.

[2018-08-28 17:23] #25 closed, assigned to zross, mcSamuelDataSci

[2018-08-28 19:00] mcSamuelDataSci commented on #26
The error is only when selecting the "quantile" cut-point method.

I have edited that file some--the note about this issue is now on lines 79-81.  On line 89 the "cut-point" method is selected based on the variable argument to the "style" parameter.

![capture](https://user-images.githubusercontent.com/19944056/44744411-9f878100-aaf4-11e8-9ea5-093ec88bd6da.PNG)

[2018-08-28 19:50] zross commented on #26
It's not NA values causing issues it's infinite values. `tmap` doesn't like the infinite values. I'm not sure why you have Infinite but you can change with something like `data$plotter[is.infinite(data$plotter)] <- NA` and it should work.

The steps to solving this:

1. Break it down to simplest possible issue outside of Shiny if possible. I used a simple state shapefile, set a couple of values to

[2018-08-29 02:24] mcSamuelDataSci commented on #26
Perfect, thanks.

[2018-08-29 02:25] #26 closed, assigned to zross, mcSamuelDataSci

[2018-08-29 02:48] mcSamuelDataSci opened #31 "Census tract merge issue"
Dave-
for consistency:
- the county "column" should be named "county", all lower case
- GEOID should be all upper cases, as you have it
- the "indicator" variable should use the format as I show on line 30 of the R file, or some other consitent form of your choosing
- the other variables/columns don't need to be renamed at all, since they are not used elsewhere in the CCB

[2018-08-29 05:02] mcSamuelDataSci commented on #27
Great!  I have never seen pull() before, and glad I am now.

The context is seen in lines 72 and 73 of this file: https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myCBD/myFunctions/cbdMap-tmap.R
(a file to which I will be referring with a few more issues over the next week), where I am adding elements to a title based on this indexing.

[2018-08-30 00:07] mcSamuelDataSci opened #32 "how to add stop() function to .ui or other proper location"
Zev-

What is the proper way to add, and where should I put, something like this?:
if   (input$cZoom & input$myLHJ == "CALIFORNIA STATE" )   stop('Illogical Selection')

I have some similar statements (without the input$) WITHIN some functions, and that works fine, but there are some combinations of input values, like those above, that apply to several function/tabs, so would be more efficient to

[2018-08-30 00:24] mcSamuelDataSci opened #33 "two conditionalPanel input lists with same inputID"
Zev-

How can I do something in the .ui file with conditionalPanel such that the input list varies depending on the condition *BUT* where the inputID stays the same?  For example with issue #32,  how could I have "selectInput" "choices" of c("A","B","California","D") for one condition and c("A","B","D") for another condition, *BUT* where the inputID is myLHJ for both conditions?

[2018-08-30 12:28] zross commented on #32
With this and your other issue, it would be more helpful if you point be to specific lines of code for both issues I can't quite figure out what you're asking.

[2018-08-30 22:28] mcSamuelDataSci commented on #32
This issue involves more than a few lines of code in one fine. I involves the relationships and interactivity of multiple things.  The error shown in the attached image is the result of their being no "CALIFORNIA STATE" data if "zoom to county" is selected. Zoom to county means, focus the map (or chart) on just one county, so if zooming, it does not make sense to then select "CALIFORNIA" as the ju

[2018-08-30 22:28] mcSamuelDataSci commented on #31
Any update on this Dave?

[2018-08-30 23:01] dauphine33 commented on #31
Yup, just pushed to you for the second time today.

From: Michael Samuel <notifications@github.com>
Sent: Thursday, August 30, 2018 3:29 PM
To: mcSamuelDataSci/CACommunityBurden <CACommunityBurden@noreply.github.com>
Cc: Dauphine, David@CDPH <David.Dauphine@cdph.ca.gov>; Assign <assign@noreply.github.com>
Subject: Re: [mcSamuelDataSci/CACommunityBurden] Census tract merge issue (#31)

Any update o

[2018-08-31 00:57] mcSamuelDataSci commented on #31
Great, thanks. When you do a push, please add a comment to that effect to this issue (and no need to paste anything in from the email that is automatically generated by these comments).
Thanks!

[2018-08-31 05:36] mcSamuelDataSci commented on #31
Dave, please see my edits, and see if it all makes sense?  Some bits may be a bit "fancy" but still good for learning. Also, see lines 119-127 which are some "analysis" of these data.

[2018-08-31 15:00] dauphine33 commented on #31
Will do, mahalo y feliz Viernes senyor!

From: Michael Samuel <notifications@github.com>
Sent: Thursday, August 30, 2018 10:37 PM
To: mcSamuelDataSci/CACommunityBurden <CACommunityBurden@noreply.github.com>
Cc: Dauphine, David@CDPH <David.Dauphine@cdph.ca.gov>; Assign <assign@noreply.github.com>
Subject: Re: [mcSamuelDataSci/CACommunityBurden] Census tract merge issue (#31)

Dave, please see my ed

[2018-08-31 15:50] dauphine33 commented on #31
p.s. thought I did add a comment (as I think you said we usually should) but I didn’t do the pull request.

From: Michael Samuel <notifications@github.com>
Sent: Thursday, August 30, 2018 5:58 PM
To: mcSamuelDataSci/CACommunityBurden <CACommunityBurden@noreply.github.com>
Cc: Dauphine, David@CDPH <David.Dauphine@cdph.ca.gov>; Assign <assign@noreply.github.com>
Subject: Re: [mcSamuelDataSci/CACommu

[2018-08-31 16:19] mcSamuelDataSci commented on #32
![capture](https://user-images.githubusercontent.com/19944056/44924034-e943b780-acfe-11e8-8621-6f8e1644978a.JPG)

[2018-08-31 16:29] zross commented on #32
I can look but won't be able to get to it until Monday or Tuesday.

[2018-08-31 19:40] mcSamuelDataSci commented on #32
Monday or Tuesday would be great.  I will add two other issues before then, both small.  But one, it might be good to chat/webex if you would like?

[2018-08-31 21:09] mcSamuelDataSci opened #35 "SDOH system update"

[2018-08-31 21:30] dauphine33 commented on #24
did you resolve this Michael? I'll move on to the ICD issue we discussed?

[2018-08-31 21:32] dauphine33 commented on #31
Looks good, just commented on another issue you assigned me that now I see is closed: “determine how to search files (including sub-directories) including R files for specific string” If you figured that out, I’ll get back to the ICD codes.

From: Dauphine, David@CDPH
Sent: Friday, August 31, 2018 8:00 AM
To: 'mcSamuelDataSci/CACommunityBurden' <reply@reply.github.com>
Subject: RE: [mcSamuelDataSc

[2018-09-01 00:31] mcSamuelDataSci commented on #31
Great Dave. I did figure out the file searching issue, and it's quiet cool, and it'd be fun to show it to you sometime. Great to get back to the ICD issue next week. Have a great weekend.

PS, sending this to you from Bart on my phone on the way to an A's game. GitHub rocks.

[2018-09-04 02:44] mcSamuelDataSci opened #36 "remove islands from maps"
Zev-
I have tried a number of things to remove ALL the islands from the "shape files" I am working with, and nothing has worked, including the ms_filter_islands() function that I thought surely would. In [this demo file](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myUpstream/shapeWORK.R), I use ms_filter_islands--few changes to San Francisco, no changes to Los Angeles.  Please

[2018-09-04 07:27] nteetor commented on #33
If these changes are made in response to a detectable change in the application, you could try out [`updateSelectInput`](https://shiny.rstudio.com/reference/shiny/latest/updateSelectInput.html) (or `updateSelectizeInput`).

You could begin by adding an observer to the shiny server function,
[code]

This let's the input id remain the same, but the choices are dynamically updated depending on the st

[2018-09-04 15:17] zross opened #37 "For starting app without real data change in two places"
@nteetor FYI when you try to run the repo the real app is in myCBD and you need to change from "real" to "fake" in two places because there is data he can't share.

https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myCBD/Global.R#L16

and if you're doing anything with data:

https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myUpstream/makeDatasets.R#L22

[2018-09-04 15:25] dauphine33 commented on #31
Funny I’m listening to that game right now on mlb radio in Spanish. Waiting till afterwards you can skip commercials. Great background noise at work!

From: Michael Samuel <notifications@github.com>
Sent: Friday, August 31, 2018 5:32 PM
To: mcSamuelDataSci/CACommunityBurden <CACommunityBurden@noreply.github.com>
Cc: Dauphine, David@CDPH <David.Dauphine@cdph.ca.gov>; Assign <assign@noreply.github.c

[2018-09-04 16:23] zross commented on #32
@nteetor he has three options and perhaps you can give this thought.

1) Easiest solution is what I added to a new branch (zr/git32_easy_option). Just use the full state if the user chooses California State. This seems like a good option here. See this commit: https://github.com/mcSamuelDataSci/CACommunityBurden/commit/8c00448efa36ec0bf35e23eb2769d86bb5c33d54

2) Return a message to the user if th

[2018-09-04 17:06] zross commented on #36
You should use a projected spatial file.  See my commit: https://github.com/mcSamuelDataSci/CACommunityBurden/commit/10863a29763ddb1b6696d63bf78294b73deff57f

![image](https://user-images.githubusercontent.com/1395177/45045388-c720a100-b040-11e8-83c2-bdec27934c8a.png)

[2018-09-04 17:06] zross commented on #27
you can close this right?

[2018-09-04 17:08] zross commented on #33
Yes, @mcSamuelDataSci this is important and I reference it in #32. You should update the element as needed using this strategy.

[2018-09-04 17:40] mcSamuelDataSci commented on #36
I intend to add projections for all maps, but was planning to wait until I have fully shifted to simple features and tmap, since other issues arise with some of the current maps if i shift now.

[2018-09-04 17:41] zross commented on #36
You can project then unproject if you need to.

[2018-09-04 17:43] mcSamuelDataSci commented on #36
I am missing something in your commit/answer/image above.  i am trying to get rid of all islands, since are are far off the coast and therefore make the map awkward at best.  The area approach you suggest seems it will not work since some census tracts are clearly smaller in area than some islands?

[2018-09-04 17:46] zross commented on #36
Right. My comment says that approach "does not work here" but can be used with, say counties -- situations where the islands are distinctly smaller. But project and use `ms_filter_islands()` and this works.

[2018-09-04 17:47] mcSamuelDataSci commented on #36
I thought there would be some "easy" way to remove any "shapes" that are outside the "main" shape object of the California "land" polygon. I saw some Stack-overflow comments to this end, but none that I could work out.

Regarding comment right above--okay, I will check this out...

[2018-09-04 17:59] mcSamuelDataSci commented on #36
Sorry Zev, I am still not getting something through my thick skull. Doesn't the second line below project?

la  <- filter(shape_Tract,COUNTYFP == "037")
la  <- st_transform(la, crs = proj1)
la  <- ms_filter_islands(la,min_area = 1000000)
tm_shape(la) + tm_polygons(col="ALAND")

![rplot](https://user-images.githubusercontent.com/19944056/45048735-85d4c500-b031-11e8-96c5-2310a221574b.png)

[2018-09-04 20:34] zross commented on #36
This issue took some digging. The long-story short version is that the polygons that look like islands are not technically islands. For LA, this is because there is a tiny notch of an additional tract and for SF it's because there is a tiny bit of of the "island" tract that is attached to the mainland.

I could probably write you a function to get you what you want exactly but it would take time t

[2018-09-05 07:25] nteetor commented on #32
I would definitely encourage option 3. By removing the incorrect option the user avoids performing an unnecessary or useless action.

[2018-09-05 07:26] nteetor commented on #37
Thank you Zev, I did find the application toggle and was running the application locally with the fake data.

[2018-09-05 21:10] mcSamuelDataSci commented on #33
**Awesome, thank you both!**  Since the "original/main" selectInput is in the ui.R I assumed anything like this would need to be there, rather than in the server.R.
1) Is there any way you can help me understand this principle of it being in the server.R, or any *simple* reference on this you can suggest?
2) Related, any insight or simple reference you can share on the "session" perimeter in the b

[2018-09-05 21:17] mcSamuelDataSci commented on #32
All super helpful, thanks, and option 3 is certainly what I will use.

IF something does arise, would it be reasonable to use something like the below in the server.R, or is my understand still way off:

observeEvent(input$cZoom,input$somethingElse {
  if(input$cZoom & !input$somethingElse) {stop('Michael you are a fool')
 }

[2018-09-05 21:17] mcSamuelDataSci commented on #37
Thank you both!

[2018-09-05 21:17] #37 closed, assigned to nobody

[2018-09-05 21:18] #27 closed, assigned to zross

[2018-09-05 21:26] mcSamuelDataSci commented on #36
This is incredibly helpful, and I will check a few things out, but it is likely that we would indeed like you to spend the time to get us exactly what we want.  We have some GIS folks that could probably do this "manually", but then there would be a hassle when it needs to be redone, AND, we are hoping this whole project can be used by other states at some point.

I will let you know about spendin

[2018-09-05 22:05] mcSamuelDataSci commented on #35
Hey Ben-
This is not SDOH related, but...could you look over [this file](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myCBD/myInfo/NEWgbd.ICD.Map.xlsx) when get a chance, and chat later today or tomorrow if you have time--but no pressure with your trip coming up!

[2018-09-05 22:19] benjamin-hicks-cdph-ca-gov commented on #35
Hi Michael,

Testing to see if I can reply just via email and if it forwards appropriately.
I missed the first 25 minutes of your call today but was able to silently join for the rest. Admittedly I only heard a portion of the hepatitis discussion, but aside from that everything I heard seemed pretty solid.

I can definitely talk anytime in the next hour but I have to leave at 4:15pm. I’m also avai

[2018-09-06 06:55] nteetor commented on #33
1. Here is a small example of using `updateSelectInput()` in response to a reactive,
[code]

2. The `session` object is on the same level as `input` and `output`, but handles meta information about your application. The object is particularly useful for shiny modules and is also required for update functions. You can read more about `session` here, https://shiny.rstudio.com/reference/shiny/latest/

[2018-09-06 07:02] nteetor commented on #32
If you want to raise an error given a certain condition you can create a reactive to include in your render table or map functions,

[code]

[2018-09-10 02:38] mcSamuelDataSci commented on #36
We would appreciate you writing a function to get exactly what we want if you can. If possible, great if it could be general beyond California, but California most important for us of course.

[2018-09-13 22:35] mcSamuelDataSci commented on #23
test

[2018-09-18 21:51] mcSamuelDataSci opened #38 "using sf in tmap"
I have migrated all the mapping in the CCB to tmap, and that’s great.  I was planning to migrate the “shape files” to “simple features”, but, as far as I can tell, tmap does not support this, with error message “conversion from feature type sfc_GEOMETRY to sp is not supported”.  I have done a bit of experimenting as you can see in lines 58-74 of [this file](https://github.com/mcSamuelDataSci/CACom

[2018-09-18 21:55] mcSamuelDataSci opened #39 "map projection"
Somewhat related to #38: I still have not “projected” any of the shape files, and things are working fine. But, you have strongly encouraged projection of all shape files, so I intend to do so.  Is this better done when I generate the files [here](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myUpstream/shapeProcessor.R), or when I read them in [here](https://github.com/mcSamuel

[2018-09-19 12:55] zross commented on #39
For any analysis, geoprocessing you should use projected versions. For static display projected versions are also preferable. For "slippy maps" like Google tiles etc you often can't change to projected.

To know when and when not to project in this particular app would take time because I'd have to figure out all the things that are happening and at what stages. If you are getting away with not pr

[2018-09-22 02:29] mcSamuelDataSci commented on #39
thanks

[2018-09-22 02:29] #39 closed, assigned to zross, mcSamuelDataSci

[2018-09-22 02:29] mcSamuelDataSci commented on #38
Zev - any thoughts on this?

[2018-09-22 02:31] mcSamuelDataSci commented on #36
Any rough timeline on when you might be able to get to this?

[2018-09-22 02:32] mcSamuelDataSci commented on #33
thanks @nteetor. This was super helpful

[2018-09-22 02:32] #33 closed, assigned to nobody

[2018-09-22 02:32] #32 closed, assigned to zross, mcSamuelDataSci

[2018-09-22 02:34] #19 closed, assigned to nobody

[2018-09-24 13:00] zross commented on #38
tmap supports sf objects. What version are you using? Why don't you update tmap and see if it's still an isssue. If it's still an issue then point me to a reproducible example.

As an experiment you can also try `as(my_sf_thing, "Spatial")` within the call to tmap -- which converts sf to sp and see if that works (to test whether the sf object is valid in the first place).

[2018-09-25 19:44] zross commented on #36
OK the idea is to filter islands from counties and then use this filtered shapefile to mask tracts. I did the hard part -- the island filter from counties and if this is what you want then we can clip the tracts.

The script is [here](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myUpstream/islands_removal.R), see if it makes sense to you.

One of the things that made this a lit

[2018-09-25 19:46] zross commented on #36
@nteetor is there a better way to do what I have as an if else in [this script](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myUpstream/islands_removal.R) related to nc/nr? Basically I'm saying if rowmap is TRUE then I want 1 column otherwise I want 1 row. Must be a simpler way to do this.

[2018-09-26 09:09] nteetor commented on #36
Nothing wrong with the if/else's other than maybe swapping out the `=` for `<-`.

The uses of `rbind()` can be replaced with dplyr's `bind_rows()`, unless this was already tried. If  using `bind_rows()` I don't think you will need the `do.call()`.

[2018-09-28 23:00] mcSamuelDataSci commented on #38
The map object were/are sf.  While trying to create the simplest possible reproducible example I found out that the issue was using "merge" to join the sf object to a dataframe. The object was still sf, but generated the error when mapping with tmap. When I switched to geo_join (from tigris) everything works!

[2018-09-28 23:38] mcSamuelDataSci commented on #38
So....  the system is now working, but the data are clearly not merging correctly. I am trying a number of things, but may send a reproducible example soon.  Should I just join rather than geo_join?  I will keep working...

[2018-09-28 23:42] mcSamuelDataSci commented on #38
wow, that was scary as I am under some major deadlines, and did not want to trouble shoot too much.

BUT, left_join works just fine!  geo_join does not...

[2018-09-29 00:09] mcSamuelDataSci commented on #36
The county_filter works great with the county file.  But with the more important tract file I get:

res <- county_filter(**tr_ca**, min_area = 1.01e+9, rowmap = FALSE)
Error in summarise_impl(.data, dots) :
  Column `geometry` can't promote group 882 to list

I tried a couple different min_area and got the same error.

[2018-09-29 01:00] mcSamuelDataSci commented on #36
I wanted to check that maybe my problem was some old packages. So I used it as an "opportunity" to really clean some things up.  I reinstalled R and all my packages. Dumb idea.  Any idea what this error below could be? I googled some, and did not find the answer. I will eventually, but just thought you might see some in this right away.

Error: package or namespace load failed for ‘tigris’ in libr

[2018-09-29 02:38] mcSamuelDataSci commented on #36
Sorry for all the extra communication (and, happy to enter into additional contract?).  But I got tigris and everything else working. Needed to manually install stringi for some reason.  But, county_filter still not working fully, and actually seems like additional issues with all new packages, but likely something else on my side.  In any case, I get:

Error in purrr::map(cnty_removed, ~island_co

[2018-09-29 18:24] zross commented on #36
The function is not supposed to work with tracts. Once county islands are removed we'll just essentially do an overlap and I haven't written that. Otherwise I'll take a look.

[2018-09-29 18:59] #31 closed, assigned to mcSamuelDataSci, dauphine33

[2018-09-29 18:59] #23 closed, assigned to mcSamuelDataSci

[2018-09-29 20:33] mcSamuelDataSci commented on #36
Thanks. Our only need for this is with tract/community-level maps, like below
![capture](https://user-images.githubusercontent.com/19944056/46250283-3d1fea00-c3ec-11e8-9481-e477698b7574.JPG)

[2018-10-01 12:48] zross commented on #36
Yes understood and that's what we're working towards.  You may remember from our discussion that using tracts **directly** could be problematic (perhaps even sort of impossible) because, as the example above shows, islands are not really islands because they have more than one tract. They are not a single geography surrounded by water. They are multiple geographies surrounded by water so it's not

[2018-10-01 13:20] zross commented on #38
Yes, one of the great things about sf is that you can use your regular tidy tools and don't need to worry about merge vs geo_join etc messing things up.

[2018-10-03 05:30] mcSamuelDataSci commented on #36
Sorry for the delayed reply.  Yes, makes sense.  I was not quite clear on how you determined the min_area for California and Massachusetts, but you did, and the values work, so that's the main thing. I look forward to the last bit.  Thanks.

[2018-10-03 16:29] zross commented on #36
In the end minimum area won't really matter unless you have non-county islands that are really big, you might as well use a very big number since it will only remove islands that are not full counties.

I think all you need is `st_intersection()` once you have the county islands removed. Take a look at the code I added starting [here](https://github.com/mcSamuelDataSci/CACommunityBurden/blob/maste

[2018-10-04 05:16] mcSamuelDataSci commented on #36
The islands_removal is great and works perfectly for LA, Santa Barbara, and others and fine for SF. It does leave a couple pesky little islands for SF that would be good to get rid of if we can?
![rplot](https://user-images.githubusercontent.com/19944056/46454193-e1da5880-c759-11e8-950f-91487fddd433.png)

[2018-10-04 12:32] zross commented on #36
What does SF look like in the county layer? Those should definitely get removed!

[2018-10-04 15:50] mcSamuelDataSci commented on #36
![rplot01](https://user-images.githubusercontent.com/19944056/46486420-97d19100-c7b2-11e8-9d52-749571547230.png)

[2018-10-09 12:08] zross commented on #36
One of those is not an island as it's attached to Alameda County. The other is not an island in our definition because it's two counties on one chunk of land.

Can you, in words rather than code, specify how you'd like these handled? We could, initially, just dump all tiny sliver polygons -- below a certain area. I'm not sure if they are important in some places or not. So if we dumped any polygon

[2018-10-15 23:32] mcSamuelDataSci commented on #36
Zev-
Sorry for my delayed reply. After looking at all this, I think I need to not worry about Treasure Island and that weird bit of Alameda County that seems to be in San Francisco County. Treasure Island does have people living on it, so I guess it should be shown, and it does not "mess up" the view/zoom" of San Francisco. That other little thing is odd/annoying, but not worth removing via separa

[2018-10-16 04:05] mcSamuelDataSci commented on #36
Zev-
Everything does look great for all counties except SF, with those two little chips in Alameda County and Angel Island (nothing to do with Treasure Island, as I miswrote above). Yes, if it is easy it would be good to remove those two chips based on their small area, UNLESS there is some chance we would remove "true" tracts or pieces thereof, or create other issues.

Possibly related, I see tha

[2018-10-18 15:23] mcSamuelDataSci opened #46 "sex by condition plot"
Ben-
If you have time to fix this chart that would be great. Call me to discuss if you'd like.
Thanks, Michael

https://github.com/mcSamuelDataSci/CACommunityBurden/blob/master/myCBD/myFunctions/rankCausesSex.R

[2018-11-26 21:24] mcSamuelDataSci opened #50 "seeking efficient approach to group_by age adjustment work"
Zev (and Nate)-

The first coding approach below works just fine, and the dataframe "countyAA" has exactly what I need.  That is: for all county, year, sex, and CAUSE combinations I get the age-adjusted death rate, and associated upper and lower CI, and SE.  The only thing I am **not** grouping by is ageGroup, and this is what drives the whole thing.

BUT, it is clearly inefficient to run the adea

[2018-11-26 21:35] nteetor commented on #50
You could try the following,

[code]

[2018-11-26 22:41] mcSamuelDataSci commented on #50
Thanks for your quick reply. It runs, and gives the right number of lines, but does not generate proper results.  See below.  I don't know how the "."s work in your code, but thought maybe a %>% was missing before the summarize, but that didn't work...   I'd be very happy to do  a webex any time if that would help diagnose/solve and/or all the code is working and is on the GitHub site?  Thanks!!!

[2018-12-03 13:23] zross commented on #50
@mcSamuelDataSci Any chance you can create a reproducible/small example we can test with?

[2018-12-03 21:44] mcSamuelDataSci commented on #50
Here is a reproducible example  (exported the input file, and a couple other little edits):

[code]

[2018-12-05 13:46] zross commented on #50
@nteetor could you please take a look?

[2018-12-05 20:27] mcSamuelDataSci opened #52 "determine best format for SDOH indicator table -- what/how if on GitHub; what/how if elsewhere?"

[2018-12-05 20:29] mcSamuelDataSci opened #53 "test"
- [x] hi
- [ ] ho

[2018-12-05 20:30] #53 closed, assigned to nobody

[2018-12-07 17:02] nteetor commented on #50
I am confused why values 2 through 5 are pulled from the result of `ageadjust.direct()` (see original try). It looks like the return value is a vector of 4 values.

[2018-12-07 23:00] mcSamuelDataSci commented on #50
I am not clear on what you are saying.  What I need is something like shown below.

![capture](https://user-images.githubusercontent.com/19944056/49676903-af3a2e00-fa30-11e8-85ab-f673f33c65ee.JPG)

[2018-12-07 23:56] nteetor commented on #50
Yes and I believe `aRate` is `<result>[1]` not `<result>[2]`. I do not use the `epitools` package, so I apologize if I am missing something. If the indexing is off and is fixed, does this help any of the problems outlined above?

[2018-12-08 18:15] mcSamuelDataSci commented on #50
See shortened example below. I don't see the indexing being off.  aRate is `<result>[2]`  in all cases (`<result>[1] `is the "crude rate", and is not used).   This code should run fine, and shows the exact issues I believe. Thanks.
[code]

[2018-12-10 17:50] zross commented on #50
I'm traveling, but I think I'll have a chance to look at this this evening.

[2018-12-11 02:01] zross commented on #50
I thought I had a good solution, but it actually runs slower than yours despite only running the function once, perhaps you can test on a bigger dataset?

This is a common issue and I see it discussed in these references. My results match yours but take several milliseconds more. See what I have below.

@nteetor can correct me, but I also think that `do()` is discouraged these days but I'm not sur

[2018-12-11 03:27] mcSamuelDataSci commented on #50
I had assumed there would be something close to a "standard" (and therefore efficient) approach to this, and wanted to do it that "right" way.  But, since there is not, unless you suggest otherwise, I will stick with what I did, and can now be confident that it is not ridiculous.  One thing I like about my approach is that it is pretty easy to tell what it is doing, and this is a priority for the

[2018-12-11 13:13] zross commented on #50
I'm surprised that `do()` is so slow here. I ran on the full dataset and see that my code takes 3x longer. If speed matters, I did see some `data.table` solutions in my digging. But if you can pre-compute then whatever works.

[2018-12-13 03:13] #50 closed, assigned to zross, nteetor

[2019-01-22 23:21] mcSamuelDataSci opened #54 "IHME API and VIZ"
just getting started

[2019-01-23 00:21] jonahgolden commented on #54
Heyo

[2019-02-25 20:49] sharygin opened #55 "method to set path"
I expect for a lot of users the default path is not the R working directory – i.e. what is getwd() without setwd()?
Currently the user has to set myDrive to the project folder in multiple files. An external local file like .path would be robust to cases where people’s starting directory is a different folder. Another option would be to have an options file like config.txt that would contain all th

[2019-02-26 03:47] mcSamuelDataSci commented on #55
Thanks Ethan. I have definitely not been clear, and have been changing some things that have not been clear to you and others, and forgot a "push" that may have made this more clear.  I do think for other reasons we are going to want something like a config.txt.

But in terms of the path I believe the way I have set up things, and am requesting other do, works well and does not require editing any

[2019-03-04 05:07] mcSamuelDataSci opened #56 "map overlays"

[2019-03-04 05:07] mcSamuelDataSci opened #57 "SDOH select community"

[2019-03-05 21:47] mcSamuelDataSci opened #58 "OSHPD"

[2019-04-12 02:56] mcSamuelDataSci opened #60 "Images"
![image](https://user-images.githubusercontent.com/19944056/56009194-c8c7dc80-5c93-11e9-8eca-becef21c44df.png)

[2019-05-10 03:18] #22 closed, assigned to nobody

[2019-05-10 03:19] #36 closed, assigned to zross, mcSamuelDataSci

[2019-05-10 03:19] #38 closed, assigned to zross, mcSamuelDataSci

[2019-05-10 03:19] #46 closed, assigned to mcSamuelDataSci, benjamin-hicks-cdph-ca-gov

[2019-05-10 03:20] #52 closed, assigned to mcSamuelDataSci, benjamin-hicks-cdph-ca-gov

[2019-05-10 03:20] #56 closed, assigned to nobody

[2019-05-10 03:20] #58 closed, assigned to mcSamuelDataSci, cgdownie

[2019-05-10 03:21] #55 closed, assigned to sharygin, mcSamuelDataSci, benjamin-hicks-cdph-ca-gov

[2020-03-12 19:10] mcSamuelDataSci opened #78 "Rank Condition Tab Enhancement"
add labels to vertical SMR lines

[2020-03-12 23:06] mcSamuelDataSci opened #79 "Explore directly labeling lines with ggrepel"
library(ggrepel)

NOT like this, but....:

ggplot(mtcars, aes(wt, mpg, label = rownames(mtcars))) +
  geom_text_repel() +
  geom_point(color = 'red') +
  theme_classic(base_size = 16)